<div class="my-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class='btn float-right mb-4' href="<%= edit_user_path(current_user) %>">
          <i class="fa fa-user"></i>&nbsp;Editar Perfil
        </a>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Usuarios</h3>
          </div>
          <table class="table table-hover table-outline table-vcenter text-nowrap card-table" 
                 id="datatable-user">
            <thead>
              <tr>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td>
                  <%= link_to user, method: :delete, data: { confirm: '¿Estás seguro?' } do %>
                    <i class="fa fa-trash trash-icon"></i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= link_to 'Nuevo usuario', new_user_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag defer: 'defer' do %>

<% end %>