<%%= form_with(model: <%= singular_table_name %>, local: true) do |form| %>
  <%% if <%= singular_table_name %>.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%%= pluralize(<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h4>

      <ul>
      <%% <%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>
<div class="row">
<% attributes.each do |attribute| -%>
  <% if attribute.type.to_s == 'references' -%>
    <div class="form-group col-xs-12 col-sm-6">
      <%%= form.label :<%= attribute.column_name %>, class: 'form-label' %>
      <%%= form.select('<%= attribute.column_name %>', options_from_collection_for_select(<%= attribute.name.titleize %>.all, 'id', 'name'), {include_blank: 'Select <%= attribute.name %>'}, { class: 'form-control custom-select' }) %>
    </div>
  <% else -%>
    <div class="form-group col-xs-12 col-sm-6">
      <%%= form.label :<%= attribute.column_name %>, class: 'form-label' %>
      <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, id: :<%= field_id(attribute.column_name) %>, class: 'form-control' %>
    </div>
  <% end -%>
<% end -%>
</div>
  <div class="actions">
    <div class="col-xs-12 col-sm-6 col-md-4 pl-0 pr-0 mt-5 float-right">
      <%%= form.submit 'Save', class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<%% end %>
