<div class="my-3 my-md-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Editing <%= singular_table_name.titleize %></h3>
            </div>
            <div class="card-body">
              <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
            </div>
          </div>
          <%%= link_to 'Show', @<%= singular_table_name %> %> |
          <%%= link_to 'Back', <%= index_helper %>_path %>
       </div>
    </div>
  </div>
</div>
