<div class="my-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"><%= plural_table_name.titleize %></h3>
          </div>
          <div class="card-body">
            <%%= render 'components/table/table', props:{
            id: 'datatable-<%= singular_table_name %>',
            data: @<%= plural_table_name %>,
            config: {},
            action:{
            title: 'Actions',
            actions: %i[show update delete]
            },
            columns: <%= attributes.reject{ |a| a.name.include? 'password'}
                         .map{ |item| {title: item.human_name ,data: item.name} } %>,
            } %>
          </div>
        </div>
        <%%= link_to 'New <%= singular_table_name.titleize %>', new_<%= singular_table_name %>_path %>
      </div>
    </div>
  </div>
</div>