<div class="my-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <p id="notice"><%%= notice %></p>
          <div class="card-header">
            <h3><%= plural_table_name.titleize %></h3>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-outline table-vcenter text-nowrap card-table" 
                   id="datatable-<%= singular_table_name %>">
              <thead>
                <tr>
                  <% attributes.reject{ |a| a.name.include? 'password'}.each do |attribute| -%>
                  <th><%= attribute.human_name %></th>
                  <% end -%>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
                <tr>
                  <% attributes.reject{ |a| a.name.include? 'password'}.each do |attribute| -%>
                  <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
                  <% end -%>
                  <td><%%= link_to 'Show', <%= singular_table_name %> %></td>
                  <td><%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
                  <td><%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                <%% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%%= link_to 'New <%= singular_table_name.titleize %>', new_<%= singular_table_name %>_path %>
    </div>
  </div>
</div>
<%%= javascript_tag defer: 'defer' do %>
  var dataTable = $("#datatable-<%= singular_table_name %>").dataTable({
    "bPaginate": true,
    "bLengthChange": false,
    "bFilter": true,
    "bInfo": false,
    "bAutoWidth": false,
    "dom": '<"top"i>rt<"bottom"pf><"clear">',
    "language": {
          "sZeroRecords":    "No se encontraron resultados",
          "sEmptyTable":     "Ningún dato disponible en esta tabla",
          "searchPlaceholder": "Buscar preguntas...",
          "sSearch":         "",
          "oPaginate": {
            "sFirst":    "Primero",
            "sLast":     "Último",
            "sNext":     "Siguiente",
            "sPrevious": "Anterior"
          }
      }
  });

  document.addEventListener("turbolinks:before-cache", function() {
    if (dataTable !== null) {
     dataTable.destroy();
     dataTable = null;
    }
  });
<%% end %>