<!DOCTYPE html>
<html>
  <head>
    <title>Plataforma genérica</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <% if current_user %>
    <div class="page">
      <div class="page-main">
        <%= render 'components/header/header' %>
        <%= render 'components/menu/menu' %>
        <% if (notice || alert) %>
          <div class="container mt-3">
            <% unless notice.blank? %>
            <p class="alert alert-success notice"><%= notice %></p>
            <% end %>
            <% unless alert.blank? %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
          </div>
        <% end %>
        <%= yield %>
        </div>
      <%= render 'components/footer/footer' %>
    </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
